<div class="container-fluid fundo">
  <div class="container">
    <div class="row d-flex justify-content-around align-items-center vh-100">
      <!-- ? inicio do cadastro -->
      <div class="col-6">
        <div class="col-10  borderRadius">
        <div class="form-group">
          <input
            class="inputForm"
            type="text"
            name="usuario"
            id="usuario"
            placeholder="Nome de usuário"
            [(ngModel)]="usuario.usuario"
          />
        </div>
        <div class="form-group">
          <input
            class="inputForm"
            type="text"
            name="usuario"
            id="usuario"
            placeholder="Nome Completo"
            [(ngModel)]="usuario.nome"
          />
        </div>
        <div class="form-group">
          <input
            class="inputForm"
            type="text"
            name="usuario"
            id="usuario"
            placeholder="Senha"
            [(ngModel)]="usuario.senha"
          />
        </div>
        <div class="form-group">
          <input
            class="inputForm"
            type="text"
            name="usuario"
            id="usuario"
            placeholder="Tipo de usuário"
            [(ngModel)]="usuario.tipo"
          />
        </div>
        <div class="form-group">
          <input
            class="inputForm"
            type="date"
            name="usuario"
            id="usuario"
            [(ngModel)]="usuario.dataNascimento"
          />
        </div>
        <div class="d-flex justify-content-center mt-4">
          <button class="btn btn-outline-danger w-50" routerLink="/inicio">Cancelar</button>
          <button class="btn btn-outline-dark w-50 ms-4" (click)="cadastrar()">Cadastrar</button>
        </div>
      </div>
    </div>
      <!-- ? fim do cadastro -->
    </div>
  </div>
</div>
