<div class="container-fluid my-4">
  <div class="container">
    <div class="row">
      <h3 class='text-danger'>Minhas compras</h3>
    </div>
    <div class="row d-flex align-items-center justify-content-between">
      <div class="col-7">
        <div class="row border rounded border-dark p-0 mb-3" *ngFor='let item of listaCompras'>
          <div class="col-3 p-0 m-0">
            <img [src]="item.foto" alt="" class="produtoFoto rounded" >
          </div>
          <div class="col-6 d-flex flex-column justify-content-center">
            <div class="row">
              <h5 class=''>{{item.nome}}</h5>
              <p>Plataforma: {{item.categoria.tipo}}</p>
              <p class='m-0'>Publisher: Ubisoft</p>
            </div>
          </div>
          <div class="col-3">
            <div class="row d-flex justify-content-center align-items-center h-100">
              <h5 class="text-center"> {{item.preco | currency: "BRL"}}</h5>
            </div>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="row">
          <div class="col-12">
            <div class="row d-flex justify-content-center align-items-center">
              <h5 class="text-center">Total: {{total() | currency: "BRL"}}</h5>
              <p class='text-center'>em até 12 parcelas de: {{parcela() | currency: "BRL"}}</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="row">
              <button class="btn btn-danger btn-block">Finalizar compra</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
