
  
  @-webkit-keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-250px * 7));
    }
  }
  
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-250px * 7));
    }
  }
  .slider {
    background: white;
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
    height: 80px;
    margin: auto;
    overflow: hidden;
 
}
  .slider::before, .slider::after {
    background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
    content: "";
    height: 100px;
    position: relative;
    width: 200px;
    z-index: 2;
  }
  .slider::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
  }
  .slider::before {
    left: 0;
    top: 0;
  }
  .slider .slide-track {
    -webkit-animation: scroll 40s linear infinite;
            animation: scroll 40s linear infinite;
    display: flex;
    width: calc(250px * 14);
  }
  .slider .slide {
    height: 100px;
    width: 250px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

hr{
    height: 5px;
    color: black
  }

.row {
    width: 100%;
    margin: 0 0 1em 0;
    padding: 0 2.5em;
  }
  .row.header {
    padding: 1.5em 2.5em;
    border-bottom: 1px solid #ccc;
    background: url(https://i.imgur.com/4cpWJjI.jpg) left -80px;
    color: #fff;
  }
  .container {
    max-width: 510px;
    min-width: 324px;
    margin: 50px auto 0px;
    background-color: #fff;
    border: 1px solid #cfcfcf;
    border-bottom: 3px solid #ccc;
  }
  .alinhar{
    display: flex;
    /*align-items: flex;*/
    justify-content: center;
    padding: 20px;
    object-fit: cover;
  flex-wrap: wrap;
  }