<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contato</title>
</head>

<body>
    <div class="slider">
        <div class="slide-track">
           
            <div class="slide">
                <img src="https://i.imgur.com/HdCBLvu.png" height="50" width="250" alt="" />
            </div>
            <div class="slide">
                <img class="amazon mt-2" src="https://i.imgur.com/OqXblft.png" height="60" width="200" alt="" />
            </div>
            <div class="slide">
                <img src="https://i.imgur.com/KjR72t1.png" height="60" width="220" alt="" />
            </div>
            <div class="slide">
                <img src="https://i.imgur.com/OqZYDjE.png" height="58" width="220" alt="" />
            </div>
            <div class="slide">
                <img src="https://i.imgur.com/HdCBLvu.png" height="50" width="250" alt="" />
            </div>
            <div class="slide">
                <img class="amazon mt-2" src="https://i.imgur.com/OqXblft.png" height="60" width="200" alt="" />
            </div>
            <div class="slide">
                <img src="https://i.imgur.com/KjR72t1.png" height="60" width="220" alt="" />
            </div>
            <div class="slide">
                <img src="https://i.imgur.com/OqZYDjE.png" height="58" width="220" alt="" />
            </div>
            <div class="slide">
                <img src="https://i.imgur.com/HdCBLvu.png" height="50" width="250" alt="" />
            </div>
            <div class="slide">
                <img class="amazon mt-2" src="https://i.imgur.com/OqXblft.png" height="60" width="200" alt="" />
            </div>
            <div class="slide">
                <img src="https://i.imgur.com/KjR72t1.png" height="60" width="220" alt="" />
            </div>
            <div class="slide">
                <img src="https://i.imgur.com/OqZYDjE.png" height="58" width="220" alt="" />
            </div>
        </div>
    </div>
    
    <div class="container">
        <div class="row header">
            <h1>ENTRE EM CONTATO!&nbsp;</h1>
            <h3>Saiba mais sobre o nosso trabalho</h3>

        </div>
      
        <div class="alinhar">
            <a href="https://api.whatsapp.com/send?1=pt_BR&phone=5500000000000" target="_blank">
            <img src="https://i.imgur.com/pXONjHW.png" alt="QR CODE" width="200px" height="250px">
            </a>
            </div>
        </div>
    

</body>

</html>