
body {
    /*margin: 30px auto;*/
    line-height: 1;
   background-color: #eeeeee;
  }
.controle{
  display: flex;
  align-items: center;
  justify-content: center;

}
 .alinhar{
  display: flex;
  /*align-items: flex;*/
  justify-content: center;
  padding: 20px;
  object-fit: cover;
flex-wrap: wrap;
}
 h1 {
    margin-top: 55px;
    font-weight: bold;
    font-size: 40px;
    text-transform: uppercase;
    text-align: center;
    color: #a2242d;  
}
  p{
      margin: 25px;
 }

hr{
  height: 5px;
  color: black
}

.flip-card {
   float: left;
  margin: 30px;
 max-width: 300px;
    height: 480px;
    perspective: 1000px;
    background-color: transparent;
    width: 100%;
  
    object-fit: cover;
  }
  
  .flip-card-img {
    height: 300px;
    overflow: hidden;
    background-color: rgb(12, 12, 12);
  }
  
  .flip-card img {
    width: 100%;
  }
  
  .flip-card-text {
    padding: 9px;
  }
  
  .flip-card h2 {
    font-weight: 600;
    font-size: 1.8em;
  }
  
  .flip-card p.title {
    color: rgb(0, 0, 0);
    font-size: 1.5em;
  }
  
  .flip-card p {
    font-size: 1em;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front a,
  .flip-card-back a {
    text-decoration: none;
    font-size: 22px;
    color: black;
  }
 
  .flip-card-front,
  .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    color: black;
    border: 5px solid black;
    background-color: white;
  }
  
  .flip-card-back {
    color: black;
    border: 5px solid  #2e9ddd;
    transform: rotateY(180deg);
    background-color: #eeeeee;
  }
  
  .flip-card-back i {
    padding: 15px;
  }
  