<h1>Sobre o projeto</h1>

<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laboriosam voluptatem blanditiis labore harum dignissimos. Officia dolore, perspiciatis repellat asperiores hic a ipsum. Dolorem harum corporis quis libero distinctio, ab placeat.
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facilis perspiciatis veritatis pariatur ut assumenda et sit aspernatur. Nobis, eaque pariatur, doloremque id nam fuga sequi voluptas tenetur nesciunt, quo suscipit! 
  
</p>

<div class="controle">
<img src="https://i.gifer.com/2Mw7.gif" alt="gif controle" >
</div>
<hr>
<h1 >Conheça a equipe</h1>


  <!--frente do card 1-->
 <div class="alinhar">
  <div class="flip-card">
    <div class="flip-card-inner">
      <div class="flip-card-front">
        <div class="flip-card-img">
          <img src="https://avatars.githubusercontent.com/u/8996967?v=4" alt="Avatar Placeholder" />
        </div>
        <div class="flip-card-text">
          <h2>Thiago Faccipieri</h2>
          <p class="title">Tech-Lead Front-End</p>
   </div>
      </div>
     
     <!--verso do card 1-->
      <div class="flip-card-back">
        <div class="flip-card-img">
          <img src="https://avatars.githubusercontent.com/u/8996967?v=4" alt="thiagofoto" />
        </div>
        <div class="flip-card-text">
         <h2>...</h2>
          <p>...</p>
          <a href="https://github.com/tjfaccipieri" target="_blank"><i class="fa fa-github"></i></a>
          <a href="https://www.linkedin.com/in/thiago-faccipieri" target="_blank"><i class="fa fa-linkedin"></i></a> 
        </div>
      </div>
    </div>
  </div>
  
  <!--card 2 frent-->
  <div class="flip-card">
    <div class="flip-card-inner">
      <div class="flip-card-front">
        <div class="flip-card-img">
          <img src="https://i.imgur.com/qIHljkH.jpg" alt="Avatar Placeholder" />
        </div>
        <div class="flip-card-text">
          <h2>Priscila Damaceno</h2>
          <p class="title">Dev.Fullstack Jr.</p>
        </div>
      </div>
      <!--card 2 verso-->
      <div class="flip-card-back">
        <div class="flip-card-img">
          <img src="https://i.imgur.com/qIHljkH.jpg" alt="Avatar Placeholder" />
        </div>
        <div class="flip-card-text">
          <h2>...</h2>
          <p>...</p>
          <a href="https://github.com/PriscilaDamaceno" target="_blank"><i class="fa fa-github"></i></a>
          <a href="https://www.linkedin.com/in/prisciladamaceno" target="_blank"><i class="fa fa-linkedin"></i></a> 
        </div>
      </div>
    </div>
  </div>
  </div>
  