<div class="container">
  <!-- * cadastro de categorias -->
  <div class="row d-flex justify-content-center">
    <h2 class="text-center">Cadastro de categorias:</h2>
    <div class="col-6">
      <form action="" class="d-flex flex-column">
        <div class="form-group">
          <label for="nome">Plataforma:</label>
          <input
            type="text"
            class="form-control"
            name="nome"
            id="nome"
            placeholder="Nome da categoria"
            [(ngModel)]="categoria.tipo"
          />
        </div>
        <div class="form-group mb-2">
          <label for="foto">Foto:</label>
          <input
            type="text"
            class="form-control"
            id="foto"
            name="foto"
            placeholder="Foto da categoria (url)"
            [(ngModel)]="categoria.foto"
          />
        </div>
        <button
          type="submit"
          class="btn btn-outline-primary align-self-center"
          (click)="cadCategoria()"
        >
          Cadastrar
        </button>
      </form>
    </div>
  </div>
  <!-- * cadastro de categorias -->

  <!-- ? cadastro de produtos -->
  <div class="row d-flex justify-content-center">
    <h2 class="text-center">Cadastro de produtos:</h2>
    <div class="col-6">
      <form action="" class="d-flex flex-column">
        <div class="form-group">
          <label for="nome">Nome:</label>
          <input
            type="text"
            class="form-control"
            id="nome"
            name="nome"
            placeholder="Nome do produto"
            [(ngModel)]="produto.nome"
          />
        </div>
        <div class="form-group mb-2">
          <label for="foto">Foto:</label>
          <input
            type="text"
            class="form-control"
            id="foto"
            name="foto"
            placeholder="Foto do produto (url)"
            [(ngModel)]="produto.foto"
          />
        </div>
        <div class="form-group mb-2">
          <label for="categoria">Plataforma:</label>
          <select
            class="form-control"
            id="categoria"
            name="categoria"
            [(ngModel)]="idCategoria"
            (change)="getCatById()"
          >
            <option
              *ngFor="let categoria of listaCategorias"
              [value]="categoria.id"
            >
              {{ categoria.tipo }}
            </option>
          </select>
        </div>
        <div class="form-group mb-2">
          <label for="descricao">Tipo:</label>
          <select
            name="tipo"
            id="tipo"
            class="form-control"
            [(ngModel)]="produto.tipo"
          >
              <option value="jogo">Jogo</option>
              <option value="periferico">Periférico</option>
          </select>
        </div>
        <div class="form-group mb-2">
          <label for="preco">Preço:</label>
          <input
            type="number"
            class="form-control"
            id="preco"
            name="preco"
            placeholder="Preço do produto"
            [(ngModel)]="produto.preco"
          />
        </div>
        <div class="form-group mb-2">
          <label for="descricao">Descrição:</label>
          <textarea
            class="form-control"
            id="descricao"
            name="descricao"
            rows="3"
            placeholder="Descrição do produto"
            [(ngModel)]="produto.descricao"
          ></textarea>
        </div>
        <div class="form-group mb-2">
          <label for="estilo">Estilo:</label>
          <select
            name="estilo"
            id="estilo"
            class="form-control"
            [(ngModel)]="produto.estilo"
          >
              <option value="rpg">RPG</option>
              <option value="arcade">Arcade</option>
              <option value="simulacao">Simulação</option>
              <option value="corrida">Corrida</option>
              <option value="luta">Luta</option>
              <option value="aventura">Aventura</option>
              <option value="infantil">Infantil</option>
          </select>
        </div>
        <div class="form-group mb-2">
          <label for="publisher">Publisher:</label>
          <input
            type="text"
            class="form-control"
            id="publisher"
            name="publisher"
            placeholder="Publisher do produto"
            [(ngModel)]="produto.publisher"
          />
        </div>
        <div class="form-group mb-2">
          <label for="quantidade">Data de Lançamento:</label>
          <input
            type="date"
            class="form-control"
            id="dataLancamento"
            name="dataLancamento"
            [(ngModel)]="produto.dataLancamento"
          />
        </div>

        <div class="form-group mb-2">
          <label for="quantidade">Quantidade em estoque:</label>
          <input
            type="number"
            class="form-control"
            id="quantidade"
            name="quantidade"
            placeholder="Quantidade do produto"
            [(ngModel)]="produto.quantidade"
          />
        </div>
        <div class="d-flex justify-content-center mb-5">
          <button
          type="submit"
          class="btn btn-outline-primary me-4"
          (click)="cadProduto()"
        >
          Cadastrar
        </button>
        <button class="btn btn-dark" routerLink="/listaProdutos">
          Ver produtos
        </button>
        </div>
      </form>
    </div>
  </div>

  <!-- ? cadastro de produtos -->
</div>
