<div class="container">
  <!-- * cadastro de categorias -->
  <div class="row d-flex justify-content-center">
    <h2 class="text-center">Cadastro de categorias:</h2>
    <div class="col-6">
      <form action="" class="d-flex flex-column">
        <div class="form-group">
          <label for="nome">Nome:</label>
          <input
            type="text"
            class="form-control"
            id="nome"
            placeholder="Nome da categoria"
          />
        </div>
        <div class="form-group mb-2">
          <label for="foto">Foto:</label>
          <input
            type="text"
            class="form-control"
            id="foto"
            placeholder="Foto da categoria (url)"
          />
        </div>
        <button type="submit" class="btn btn-primary align-self-center">
          Cadastrar
        </button>
      </form>
    </div>
  </div>
  <!-- * cadastro de categorias -->

  <!-- ? cadastro de produtos -->
  
  <!-- ? cadastro de produtos -->
</div>
