<div class="container-fluid fundo">
  <div class="container">
    <div class="row d-flex justify-content-around align-items-center vh-100">
      <!-- ! inicio do login -->
      <div class="col-4 d-flex flex-column justify-content-center">
        <div class="col-10  borderRadius">
          <a routerLink='/inicio'><i class="fa fa-arrow-left" aria-hidden="true"></i></a>
          <div class="form-group">
            <input
              class="inputForm"
              type="text"
              name="usuario"
              id="usuario"
              placeholder="Usuário"
              [(ngModel)]="usuarioLogin.usuario"
            />
          </div>
          <div class="form-group">
            <input
              class="inputForm"
              type="password"
              name="usuario"
              id="usuario"
              placeholder="Senha"
              [(ngModel)]="usuarioLogin.senha"
            />
          </div>
          <div class="d-flex justify-content-center">
            <button
            type="submit"
            (click)="logar()"
            class="btn btn-outline-danger w-50 mt-4"
          >
            Logar
          </button>
          </div>
          <hr>
          <div class="d-flex flex-column align-items-center">
            <p>Ainda não tem uma conta?</p>
          <a routerLink='/cadastro'>Cadastre-se agora!</a>
          </div>
        </div>
      </div>
      <!-- ! fim do login -->
    </div>
  </div>
</div>
