.fa-eye{
  position: absolute;
  top: 35px;
  right: 15px;
  cursor: pointer;
  color: black;
}

.senha {
  position: relative;
}

h2 {
  color: #a2242d;
  font-weight: 700;
}

input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
  display: none !important;
}

