<div class="container my-3">
  <div class="row">
    <div class="col-md-6 d-flex flex-column justify-content-center align-items-center">
      <div class="col-10">
        <div class="row">
          <h2 class="text-center">Já tenho cadastro</h2>
          <form action="" class="w-100">
            <label for="usuario">Nome de usuário:</label>
            <input type="text" name="usuario" id="usuario" class="form-control" [(ngModel)]='usuarioLogin.usuario'>
            <label for="usuario">Senha:</label>
            <input type="text" name="senha" id="senha" class="form-control" [(ngModel)]='usuarioLogin.senha'>
            <button class="btn btn-outline-dark mt-3 w-100">Entrar</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>