<div class="container-fluid fundo">
  <div class="container">
    <div class="row fundo barra">
      <div class="col-3 d-flex  align-items-center">
        <img
          src="assets/img/logoGenGames.png"
          alt="Generation Games"
          class="logo"
          width="154"
          height="86"
          routerLink="/inicio"
          
        />
      </div>
      <!-- !barra de pesquisa -->
      <div class="col-5 d-flex align-items-center form-group">
        <input type="text" class="form-control" name="pesquisa" id="pesquisa">
        <span class="fa fa-search pesquisaButton"></span>
      </div>
      <!-- !barra de pesquisa -->
      <div class="col-2 d-flex align-items-center justify-content-center" *ngIf='!auth.logado()'>
        <small class="text-white text-center">
          Faça <a routerLink='/login' class="link">login</a> <br> ou <a routerLink='/cadastro' class="link">cadastre-se</a>
        </small>
      </div>
      <div class="col-2 d-flex flex-column align-items-center justify-content-center" *ngIf='auth.logado()'>
        <small class="text-white text-center">
          Olá {{ this.auth.nome() }} 
        </small>
        <small *ngIf='auth.admin()'> <a routerLink='/cadprodutos'>Cadastrar itens</a> </small>
      </div>
      <div class="col-2 d-flex align-items-center fs-4 justify-content-evenly">
        <i class="fa fa-shopping-cart icons" aria-hidden="true"></i>
        <i class="fa fa-whatsapp icons" aria-hidden="true"></i>
        <i class="fa fa-instagram icons" aria-hidden="true"></i>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid menu2">
  <div class="container p-0 mb-2">
    <nav class="navbar navbar-expand-lg sticky-top p-0">
      <div class="container-fluid">
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div
          class="collapse navbar-collapse d-flex justify-content-center"
          id="navbarSupportedContent"
        >
          <ul class="navbar-nav mb-2 mb-lg-0">
            <li class="nav-item navHover w-auto fs-6 fw-bold" *ngFor='let cat of listaCategorias'>
              <a class="nav-link" aria-current="page" href="#">
              <img src="{{cat.foto}}" alt="" width='25' height="auto">
              {{cat.tipo}}</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</div>