li {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  z-index: 1;
}

li:last-child{
  border: 0;
}

li .fa{
  font-size: 1.250rem
}

li div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navHover{
  position: relative;
}

.navHover::after{
  position: absolute;
  content: '';
  background-color: #2274A590;
  bottom:0;
  left: 0;
  width: 100%;
  height: 2px;
  z-index: -1;
  transform: scaleX(0);
  transform-origin: top;
  transition: .3s ease-in;
}

.navHover:hover::after{
  transform: scaleX(1);
  transform-origin: bottom;
}