li {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  z-index: 1;
}

li .fa{
  font-size: 1.250rem
}

li div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  cursor: pointer;
}

.barra {
  height: 125px;
}

.link {
  color: var(--white);
  text-decoration: none;
}

.link:hover{
  text-decoration: underline;
  color: var(--blue);
}

.icons {
  color: var(--white);
  cursor: pointer;
}

.icons:hover{
  color: var(--blue);
}

.pesquisaButton {
  background-color: #a2242d;
  border-radius: 5px;
  padding:0.750rem 2rem;
  color: var(--white);
  margin-left: -60px;
}

.pesquisaButton:hover {
  background-color: #c0555d
}

.menu2 {
  background-color: var(--blue-menu);
  
}

.menu2 a{
  color: var(--black)
}