/* You can add global styles to this file, and also import other style files */
:root{
  --purple: #8637a4;
  --black: #131515;
  --red: #810c09;
  --blue: #2274a5;
  --white: #dff3e4;
  --blue-menu: #2e9ddd;
  --purple-hover: #441b53;
  --main-red: #a2242d;
  --main-red-hover: #c0555d;
}
.fundo{
  background-color: var(--black);
}

