.botao {
  background-color: #a2242d;
  color: #fff;
  font-weight: 700;
  padding: 0.75rem;
  font-size: 1.25rem;
}

.botao .fa {
  margin-right: 10px;
}

.botao:hover {
  background-color: #b6444b;
}

.preco {
  color: #a2242d;
  font-weight: 700;
  font-size: 2.5rem
}
