<div class="container-fluid">
  <div class="container">
    <div class="row d-flex justify-content-between">
      <h1 class="mb-5 ps-5 ms-5">{{produto.nome}}</h1>
      <div class="col-5 d-flex justify-content-center">
        <div class="col-8">
          <img [src]="produto.foto" alt="" class="img-fluid rounded-3 imagem-produto">
        </div>
      </div>
      <div class="col d-flex align-items-center">
        
        <div class="row">
          <span class="fw-bold">Plataforma: {{produto.categoria.tipo}}</span>
          <div class="d-flex align-items-center justify-content-between">
            
            <div>
              <p class="p-0 m-0 preco"> {{produto.preco | currency: 'BRL'}}</p>
              <small>Em até 12x de {{prodParcela}}</small>
            <p class='pix'>Valor no PIX: {{prodDesconto | currency: "BRL"}}</p>
            <hr>
            <small class="text-secondary pequeno">Disponivel em estoque: {{produto.quantidade}} unidades</small>

            </div>
            <button class="botao btn w-25" (click)='addProduto()'><i class="fa fa-shopping-cart" aria-hidden="true"></i>
            Comprar</button>
          </div>
        </div>
      </div>
    </div>

    <hr>
    <div class="d-flex flex-column mt-3 border p-3 rounded-3 border-dark">
      <h4>Descrição:</h4>
    <p class="w-100">{{produto.descricao}}</p>
    <small>Publicado por: <span class="fw-bold">{{produto.publisher}}</span></small>
    <small>Data de Lançamento: <span class="fw-bold">{{produto.dataLancamento | date: 'dd/MM/yyyy'}}</span></small>
    <small>Genero: <span class='fw-bold'>{{produto.estilo}}</span></small>
    </div>
    <hr>
  </div>
</div>