<div class="container-fluid fundo">
  <div class="container">
    <div class="row fundo py-4">
      <div class="col-2"></div>
      <div class="col d-flex justify-content-center align-items-center">
        <img
          src="assets/img/logoGenGames.png"
          alt=""
          class=""
          width="250"
          height="130"
        />
      </div>
      <div class="col-2 d-flex align-items-center">
        <button
          *ngIf="!auth.logado()"
          type="submit"
          class="botao logar text-white"
          routerLink="/login"
        >
          Logar <i class="fa fa-sign-in" aria-hidden="true"></i>
        </button>
        <button
          *ngIf="auth.logado()"
          (click)="sair()"
          class="botao sair text-white"
        >
          Sair <i class="fa fa-sign-out" aria-hidden="true"></i>
        </button>
      </div>
    </div>
  </div>
</div>
