.bordinha {
  border: 1px solid black;
  margin: 0 10px;
  border-radius: 15px;
  padding: 10px;
}

.slidecontainer{
  max-height: 400px;
  /* overflow: hidden; */
}

.fa-cart-plus {
  color: #8637a4
}

.imagemPromo{
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.imagem {
  max-width: 250px;
}

.plataforma {
  max-width: 25px;
  height: 25px;
  margin-right: 10px;
}