.bordinha {
  border: 1px solid black;
  margin: 0 10px;
  border-radius: 15px;
  padding: 10px;
}

.slidecontainer{
  max-height: 400px;
  /* overflow: hidden; */
}

.fa-cart-plus {
  color: #8637a4
}

