<!-- <div class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-10 d-flex justify-content-between">
        <h1>Loja de Games da Tia Gen.</h1>
        <button
        *ngIf='!auth.logado()'
          type="button"
          class="btn btn-outline-info"
          routerLink='/cadastro'
        >
          Logar/Cadastrar
        </button>
        <button *ngIf='auth.logado()' class='btn btn-outline-danger'>Sair</button>
      </div>
    </div>
  </div>
</div> -->

<div class="container-fluid">
  <video id="videoBG" poster="poster.JPG" autoplay muted loop>
    <source src="/src/assets/bolha.mp4" type="video/mp4" />
  </video>
  <div class="col-md-6" id="img-bg"></div>
  <div class="col-md-6">
    <div class="row d-flex justify-content-center">
      <div class="col-md-6" id="ft-color">
        <div class="color">
          <h1 class="text-center mb-3">Entrar</h1>
        </div>
        <div class="form-group">
          <label for="usuario">E-mail</label>
          <input
            class="form-control"
            type="text"
            name="usuario"
            id="usuario"
            placeholder="Seu Usuário"
          />
        </div>

        <div class="form-group">
          <label for="usuario">Senha</label>
          <input
            class="form-control"
            type="password"
            name="senha"
            id="senha"
            placeholder="Sua Senha"
          />
        </div>

        <div class="d-flex justify-content-center">
          <button type="submit" class="btn border-secondary" >
            Entrar
          </button>
        </div>
        <hr class="mt-5 mb-5" />
        <p class="text-center">
          Não tem uma conta? <a routerLink="/cadastrar">Cadastre-se</a>
        </p>
      </div>
    </div>
  </div>
</div>
