.bordinha {
  border: 1px solid #000;
  margin: 0 10px;
  border-radius: 15px;
  padding: 10px ;
}

.slidecontainer{
  max-height: 400px;
  max-width: 25vw;
}

.fa-cart-plus {
  color: #8637a4;
}

.imagemPromo{
  max-height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.imagem {
  max-width: 250px;
  height: 250px;
}

.plataforma {
  max-width: 25px;
  /* max-height: 25px; */
  margin-right: 10px;
}

.verMais {
  text-decoration: none;
  color: #fff;
  background-color: #8637a4;
  font-weight: bold;
  font-size: 1rem;
}

.verMais:hover {
  text-decoration: underline;
}